@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>

<p>Professor @ViewData["Professor"]</p>

<address>
    <strong>More information: </strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
</address>